/*
Theme Name: Lawyers Attorneys Child
Author: Vamtam
Author URI: http://vamtam.com
Template: lawyers-attorneys
*/


/*
Woocommerce Shortcode styling
[add_to_cart]
*/
.addToCart {
	  font-weight: bold;
	  text-align: center;
}
.woocommerce-Price-amount:before {
  	content: "Precio: ";
}
.woocommerce-Price-currencySymbol:after {
    font-weight: normal;
	  content: " (IVA y tasas incluidas) ";
}


/*
  FIX Bootstrap fllickering of Dropdown menu
*/
body.customer-area-active .cuar-css-wrapper .animated {
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
}
